{{ $currentPage := . }}
<nav class="mainnav">
	<div>
		<div>Pages</div>
		<div>
			{{ range site.Menus.navbar_main }}
				<a href="{{ .URL }}" target="{{ if in .URL "://" }}_blank{{ else }}_self{{ end }}" class="no-link-arrow {{ if $currentPage.IsMenuCurrent .Menu . }}active-menu-item{{ end }}">{{ .Name }}</a>
			{{ end }}
		</div>
	</div>
	
	<div>
		<div>Posts</div>
		<div>
			{{ range site.Menus.navbar_writing }}
				<a href="{{ .URL }}" target="{{ if in .URL "://" }}_blank{{ else }}_self{{ end }}" class="no-link-arrow {{ if $currentPage.IsMenuCurrent .Menu . }}active-menu-item{{ end }}">{{ .Name }}</a>
			{{ end }}
		</div>
	</div>

	<div>
		<div>Social</div>
		<div>
			{{ range site.Menus.navbar_social }}
				<a href="{{ .URL }}" target="{{ if in .URL "://" }}_blank{{ else }}_self{{ end }}" class="no-link-arrow {{ if $currentPage.IsMenuCurrent .Menu . }}active-menu-item{{ end }}">{{ .Name }}</a>
			{{ end }}
		</div>
	</div>
</nav>