[submodule "themes/klarheit"]
	path = themes/klarheit
	url = https://github.com/m-scholz/klarheit.git
[submodule "public"]
	path = public
	url = https://github.com/m-scholz/m-scholz.github.io.git
[submodule "themes/twentynineteen"]
	path = themes/twentynineteen
	url = https://github.com/jeremybise/twentynineteen-hugo.git
