@font-face{
    font-family:'Roboto Mono';
    src:url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Merriweather';
    src:url('/fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family:'Montserrat';
    src:url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}
html,body{
    margin:0;
    padding:0
}
*,*:before,*:after{
    box-sizing:inherit
}
body{
    margin:0;
    padding:0;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.7;
    font-size: 1.1rem;
    color:#404040
}
header{
    margin-bottom:6rem
}
a{
    text-decoration:none;
    color:#d23669;
}
nav{
    line-height: 1.5;
    font-size: 16px;
}
nav span{
    margin:0 .45rem 0 .24rem;
}
nav a{
    text-transform: lowercase;
}
h1{
    font-size:3rem;
}
h2{
    font-size:1.7rem;
    margin:2em 0 0.5em;
}
h3{
    font-size: 1.17rem;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
    color:#163541;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 800;
}
/*h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color:inherit;
}*/
time, .readingtime{
    font-size:0.85rem;
    display:inline-block;
    color:#808080;
    text-transform: lowercase;
    margin-right:1rem;
}
.tags{
    display:inline-block;
    font-size:0.85rem;
    display:inline-block;
    color:#808080;
    text-transform: lowercase;
    margin-right:1rem;
}
.tags a{
    color:#d23669;
}
.wrapper{
    max-width:56rem;
    margin:0 auto;
    padding:6rem 1rem;
}
#title{
    display:inline-block;
    color:#163541;
    background:#eaebeb;
    border-radius:3px;
    margin:0;
    padding:.2em .4em;
    font-family: 'Roboto Mono';
    font-size:23px;
    margin-bottom: 2.5rem;
}
#tagline{
    font-size:3rem;
}
code{
    display:inline-block;
    color:#163541;
    background:#eaebeb;
    border-radius:3px;
    margin:0;
    padding:.2em .4em;
    font-family: 'Roboto Mono';
    max-width: inherit;
}
hr{
    height:1px;
    background:#aeaeae;
    margin:4rem 0 3rem;
    border:none
}
footer{
    margin:8rem 0 2rem;
}
#pagination{
    margin:4rem 0 2rem;
    color:#808080;
    text-align:center
}
.summary .summary_title{
    margin:0;
    font-size:30px;
}
.summary .summary_text{
    margin:1rem 0 4rem;
    font-size: 1rem;
    line-break: 1.7;
    color:#515862;
}