*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}

html {  
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #fff;
    background: #121212;
    font-weight: 500;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration-color: #f4d32c;
    text-decoration-line: underline;
    text-decoration-thickness: .1em;
    text-underline-offset: .25em;
}

a.no-underline {
    text-decoration: none;
}

a#skiptocontent:not(:active):not(:focus){
    position:absolute;
    top:-3px;
    width:1px;
    height:1px;
    overflow: hidden;
    padding:0;
    margin:0;
}

a#skiptocontent {
    display:block;
    background:#f4d32c;
    color:#000;
    padding:.3em 1em;
}

nav.navbar{
    position: sticky;
    top:0;
    background: #121212;
    display: flex;
    justify-content: space-evenly;
    padding:1em 2em;
    column-gap: 2em;
}

nav.navbar .fill {
    flex-grow: 1;
}

nav.navbar a{
    color:#fff;
    text-decoration: none;
}

main {
    width:100%;
    max-width: 80ch;
    margin:0 auto;
    padding:4rem;
    line-height: 1.75;
}

main.main-simple {

}

div.header-boxed-wrapper{
    color:#000;
    background: #fff;
    padding-bottom:10rem;
}

header.header-boxed{

    width:100%;
    max-width: 80ch;
    margin:0 auto;
    padding:4rem;
    line-height: 1.75;
}
header.header-boxed h1{
    font-size: 4rem;
}

main.main-boxed {
    max-width: 100ch;
    margin-top:-10rem;
    background: #171717;
    border-radius: .125em;
    border: solid 1px #ffffff1a
}

h1 {
    font-size: 2.25em;
    margin-top:.5em;
    margin-bottom:.9em;
    line-height: 1.1111111;
}

h2 {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
}

p{
    margin:1.25em 0;
}