<div class="webring">
    <h1>Webring</h1>
    <p>New articles from other blogs I follow</p>
    <ul>
    
        <li><a href="https://rachelbythebay.com/w/2020/08/17/potato/" target="_blank" rel="noopener">Baking those potatoes with microservices and vendors</a><a class="sourceLink" href="https://rachelbythebay.com/w/">Writing - rachelbythebay</a></li>
    
        <li><a href="https://virtuallyfun.com/wordpress/2020/08/17/patching-gcc-4-1-2-to-build-under-gcc-8/" target="_blank" rel="noopener">Patching GCC 4.1.2 to build under GCC 8</a><a class="sourceLink" href="https://virtuallyfun.com/wordpress">Fun with virtualization</a></li>
    
        <li><a href="https://drewdevault.com/2020/08/17/Engineers-solve-problems.html" target="_blank" rel="noopener">Software engineers solve problems</a><a class="sourceLink" href="https://drewdevault.com">Drew DeVault&#39;s Blog</a></li>
    
        <li><a href="https://blog.alexellis.io/inlets-pro-launch/" target="_blank" rel="noopener">inlets PRO launch day</a><a class="sourceLink" href="https://blog.alexellis.io/">Alex Ellis&#39; Blog</a></li>
    
        <li><a href="https://kevq.uk/how-to-make-ubuntu-work-like-windows-10/" target="_blank" rel="noopener">How To Make Ubuntu Work Like Windows 10</a><a class="sourceLink" href="https://kevq.uk">Kev Quirk</a></li>
    
    </ul>
    <p class="powered">Powered by <a href="https://git.sr.ht/~sircmpwn/openring/">openring</a></p>
</div>