<div class="sidebar">
    <h1>About me</h1>
    <p><a href="https://en.wikipedia.org/wiki/Moin">Moin</a> there! My name is Merlin. This site is my attempt to finally start writing a tech-blog after growing up with Linux and many years of tinkering with technology, especially devops, system administration, programming, and a bit of data science.</p>
    <p>I have just finished getting my bachelor's degree in Applied Computer Sciences at the <a href="https://www.tu-dortmund.de/en">TU Dortmund</a>, and am currently working on my master's degree.</p>
    <p>Meanwhile I am working on my Homelab, partially to learn new technologies, partially to train for future certifications. My main points of interest are getting enterprise-grade-technology to run in here, and just to explore the limits of what things you can do with soft- and hardware.</p>
    <nav>
        <h1>Social</h1>
        {{ range site.Menus.social }}
            <div class="navigationLink">
                <span>{{ .Name }}</span>
                <a href="{{ .URL }}">{{ .URL }}</a>
            </div>
        {{ end }}
        <h1>Misc</h1>
        <div class="navigationLink">
            <a href="/index.xml">RSS Feed</a>
        </div>
    </nav>
</div>