<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body class="text-zinc-600 flex flex-col min-h-screen
        dark:bg-zinc-900 dark:text-zinc-300 font-mono">
        {{- partial "header.html" . -}}
        <div class="flex-1 px-8 container mx-auto max-w-screen-lg">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, 
'https://fathom.merlin1.systems/tracker.js', 
'fathom'); fathom('set', 'siteId', 'FMHTN');
fathom('trackPageview');
</script>
<!-- / Fathom -->
    </body>
</html>
