{{ define "main" }}
<article class="max-w-[65ch] mx-auto prose prose-zinc dark:prose-invert
    prose-a:text-purple-700 prose-a:underline dark:prose-a:text-purple-500 hover:prose-a:text-white hover:prose-a:bg-purple-700 prose-a:underline-offset-4
    prose-pre:bg-inherit prose-code:before:content-[''] prose-code:after:content-['']
    prose-img:mx-auto prose-img:my-10 prose-img:border prose-img:border-solid prose-img:border-zinc-200 dark:prose-img:border-zinc-800 prose-img:shadow-md
    prose-pre:mx-auto prose-pre:my-10 prose-pre:border prose-pre:border-solid prose-pre:border-zinc-200 dark:prose-pre:border-zinc-800 prose-pre:shadow-md
    [&>.mastodon-embed]:w-full [&>.mastodon-embed]:my-8">
    <div class="pt-14">
        {{ if .PublishDate }}
            <time class="text-zinc-400 mb-2 block" datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
        {{ end }}
        <h1 class="text-4xl font-bold">{{ .Title }}</h1>
    </div>
    {{ .Content }}
</article>
{{ end }}
