{{ define "main" }}
<div class="main-section-header-wrapper">
    <div class="main-section-header">
        <div>
            <span>Moin there! I'm Merlin</span>
            <p>Yes that's my real name. 20-something IT guy (he/him) from Germany</p>
        </div>
        <div>
            <img src="/memoji.png" alt="Memoji of a male person with longish, brown-red hair, sitting behind a MacBook">
        </div>
    </div>
</div>
<div class="main-section-work">
    <div>
        <pre>┌───────────────────────┐ ┌───────────────────────┐
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
│┌─────────────────────┐│ │┌─────────────────────┐│
││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││ ││ ◯   ▬▬▬ ▬▬▬ ▬▬▬ ▬▬▬ ││
│└─────────────────────┘│ │└─────────────────────┘│
└───────────────────────┘ └───────────────────────┘</pre>
    </div>
    <div>
        <p>I'm an Application Engineer and spend my workweek by managing critical parts of large banking systems.</p>
        <p>In case you're a recruiter, I'm currently <span>not</span> for hire.</p>
    </div>
</div>
{{ end }}
