<article class="article-full">
    <h1>{{ .Title }}</h1>
    <div class="post-info">
        <div>{{ .Site.Params.Author }}</div>
        <div><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></div>
        <div>{{ math.Round (div (countwords .Content) 220.0) }} Minute Read</div>
      </div>

    {{- $images := .Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- with $featured -}}

    {{ $featured := $featured.Resize "650x q85" }}

    <img src="{{ $featured.Permalink }}" alt="" class="feature-img-full">
    {{ end }}

    {{ .Content }}
    
</article>