{{ define "main" }}
<main class="home">
    {{ partial "logo" }}
    <div class="social">
        {{ range .Site.Menus.main }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    </div>
    <hr>
    <div class="articles">
        <h2>Blog</h2>
        {{ range (where .Site.RegularPages "Type" "in" "post") }}
            <a href="{{ .Permalink }}">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2" }}</time>
                <span class="title">{{ .Title }}</span>
            </a>
        {{ end }}
        <a href="/post">
            <span class="timeplaceholder"></span>
            <span class="title">Archiv</span>
        </a>
    </div>

    <hr>
    <div class="about">
        <h2>About me</h2>
        {{ .Content }}
    </div>
</main>
{{ end }}
