{{ define "main" }}
<main class="list">
    <h1 class="title">{{ .Title }} Archive</h1>
    <div class="grid">
        <div class="articles">
        {{ range (where .Site.RegularPages "Type" "in" "post") }}
            <div class="articleCard">
                <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
                <span class="meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></span>
                {{ .Summary }}
            </div>
        {{ end }}
        </div>
        {{ partial "sidebar" }}
    </div>
</main>
{{ end }}
