<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ if .Params.summary }}
	<meta name="description" content="{{ .Params.summary }}">
	{{ else }}
	<meta name="description" content="{{ .Site.Params.description }}">
	{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
	{{ if .Params.asciinema }}
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}asciinema/asciinema-player.css" />
	{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	<div class="wrapper">
		<header>
			{{ partial "header" . }}
			{{if .IsHome}}
			<h1 id="tagline">
				{{ .Site.Params.description }}
			{{end}}</h1>
			{{ partial "navigation" . }}
		</header>
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
	{{ partial "asciinema" . }}
	{{ template "_internal/google_analytics_async.html" . }}
</body>
</html>
