{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "January 02, 2006" }}</time>
			<span class="readingtime">{{ .ReadingTime }} minutes</span>
			{{ with .Params.tags }}
				<div class="tags">
					Tags:
					<span class="tag_links">{{ range $i, $e := . }}
					{{ if $i }}<span>,&nbsp;</span>{{ end }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}</span>
				</div>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			<hr>
			<div class="disqus_wrapper">
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>
{{ end }}
