<article class="summary">
	<h3 class="summary_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	<time>{{ .Date.Format "January 02, 2006" }}</time>
	<span class="readingtime">{{ .ReadingTime }} minutes</span>
	{{ with .Params.tags }}
		<div class="tags">
			Tags:
			<span class="tag_links">{{ range $i, $e := . }}
			{{ if $i }}<span>,&nbsp;</span>{{ end }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}</span>
		</div>
	{{ end }}
	<div class="summary_text">
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
