/* Page layout */
html, body{
    color:#000;
    font-weight: 400;
    margin:0;
    padding: 0;
}
body{
    line-height: 1.4;
}
main{
    width:90%;
    max-width: 960px;
    margin:0 auto;
    padding: 1rem;
    position: relative;
}
.grid{
    display: grid;
    column-gap: 2.2rem;
    row-gap: 2.2rem;
    grid-template-columns: 2fr 1fr;
}
@media (max-width:768px){
    .grid{
        display: block;
    }
    .sidebar{
        border-top:solid 1px #444;
        padding-top:20px;
    }
}
.content{
    min-width:60%;
}
.sidebar{
    font-size:0.9rem;
    min-width: 240px;
}
.sidebar h1{
    font-size: 1.2rem;
}
.sidebar a{
    color:#777;
}
.sidebar .navigationLink{
    margin-bottom:0.6rem;
}
.sidebar .navigationLink span{
    display:block
}
.sidebar .navigationLink a{
    display:block;
}

/* General tags and elements */

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.25rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 0.8rem;
}
a{
    color:#0640e0
}
blockquote{
    background:#f8f9fa;
}
blockquote{
    padding: 20px;
    border:none;
    margin:32px 0 24px;
    background:#f8f9fa;
}
blockquote::before{
    content: "Quote";
    color: inherit;
    font-weight: 600;
    font-size: 1.2rem;
}
table:not(.js-file-line-container){
    border-collapse: collapse;
    margin:  64px auto;
}
table td:not(.js-line-number){
    margin:0;
    border:solid 1px #aaa;
    padding:16px;
}
.highlight{
    border:solid 1px #ddd;
    margin:32px 0 24px;
    font-size: 0.9rem;
    line-height: 1.9;
    padding:4px;
}
.highlight pre{
    margin:0 .5em;
    overflow: auto;
}
.highlight pre .lnt{
    color:rgba(27,31,35,.3)
}
.twitter-tweet{
    padding: 20px;
    border:none;
    margin:32px 0 24px;
    background:#f8f9fa;
}
.twitter-tweet::before{
    content: "Twitter";
    color: #1da1f2;
    font-weight: 600;
    font-size: 1.2rem;
}


/* Custom page elements */
.content img{
    width:100%;
    margin:32px 0 24px;
    background:#f8f9fa;
    padding:4px;
    box-sizing: border-box;

}
.single .title, .list .title{
    margin: 0.8rem 0 0.2rem;
}
.single .meta{ 
    display:block;
    color:#666;
    margin-bottom:1.2rem;
}
.single .meta a{
    font-weight: inherit;
    color:inherit;
    text-decoration: underline;
}

.list .articles{
    margin-top:1.2rem;
}
.articleCard{
    font-size: 0.85rem;
    background:#f8f9fa;
    padding:8px 12px;
    margin:16px 0;
}
.articleCard .title{
    font-size:1.0rem;
}
.articleCard .meta{
    font-size:0.8rem;
    display:block;
    color:#666;
    margin-bottom:1.2rem;
}

.webring{
    border-top:solid 1px #444;
    margin:30px 0;
    padding:30px 0;
}
.webring .powered{
    text-align: right;
}

.footnotes{
    font-size:0.9rem;
    margin:3rem 0;
}
.footnotes::before{
    content:'Footnotes:';
    font-size:0.9rem;
}
.footnotes > hr{
    display:none;
}

.error blockquote{
    font-size:0.8rem;
    color:#666;
    border-left-color: #ddd;
    margin:0 0 30px;
}
.error blockquote a{
    color: inherit;
    font-weight: inherit;
}
