{{ define "main" }}
<div class="text-center pt-12 pb-24">
    <h1 class="text-8xl font-bold text-zinc-900 dark:text-white py-8">404</h1>
    <p class="text-xl mb-5">Page not found :(<br>
    <p>Go back to the <a href="/" class="underline underline-offset-8 decoration2 transition-colors
        text-zinc-900 decoration-zinc-300
        dark:text-white dark:decoration-zinc-500
        hover:decoration-purple-300 hover:text-purple-700
        hover:dark:text-purple-500 hover:dark:decoration-purple-400">Homepage</a></p>
</div>
{{ end }}