{{ define "main" }}
<div class="flex flex-col md:flex-row-reverse justify-between items-center mt-24 text-left text-zinc-900 dark:text-white
    border-2 border-solid border-purple-700 p-4 items-stretch">
    <div class="relative">
        <div class="mx-auto h-[14rem] md:h-[170%] md:w-[14rem] relative md:top-[-40%] bg-[url('/memoji-outline-white.png')] dark:bg-[url('/memoji-outline-zinc-900.png')] bg-contain bg-center bg-no-repeat">
            
        </div>
    </div>
    <div class="flex flex-col gap-8 w-full">
        <div class="text-xl font-semibold leading-normal text-center md:text-left">
            <a class="underline underline-offset-8 decoration2 transition-colors
                text-zinc-900 decoration-zinc-300
                dark:text-white dark:decoration-zinc-500
                hover:decoration-purple-300 hover:text-purple-700
                hover:dark:text-purple-500 hover:dark:decoration-purple-400"
                href="https://en.wikipedia.org/wiki/Moin">Moin</a>
            there! I'm Merlin (he/him)
        </div>
        <div class="text-xl leading-normal">
            Sysadmin.&ensp;CS Student.&ensp;German.&ensp;Vegan.&ensp;Bored.
        </div>
        <div class="text-xl leading-normal">
            {{ range .Site.Menus.social }}
                <a rel="me" href="{{ .URL }}"
                class="inline-block underline underline-offset-8 decoration2 transition-colors 
                text-zinc-900 decoration-zinc-300
                dark:text-white dark:decoration-zinc-500
                hover:decoration-purple-300 hover:text-purple-700
                hover:dark:text-purple-500 hover:dark:decoration-purple-400">{{ .Name }}
                </a>&ensp;
            {{ end }}
        </div>
    </div>
</div>

<div class="mt-14">
    <h1 class="text-xl text-zinc-900 dark:text-white font-bold pt-14 pb-8">Latest Posts</h1>
    <ul class="list-['-']">
        {{ range ( where .Site.RegularPages "Type" "blog" ) }}
            {{ partial "articleheading.html" . }}
        {{ end }}
    </ul>
</div>
{{ end }}
