{{ define "main" }}
<div class="flex flex-col md:flex-row justify-between items-center py-8 md:py-24 mt-8 text-left text-zinc-900 dark:text-white gap-6">
    <div class="drop-shadow-md md:pr-16 md:pl-10">
        <img class="max-w-[10rem] md:max-w-[12rem] lg:max-w-[14rem]" src="memoji.png" alt="Memoji of me">
    </div>
    <div class="flex flex-col gap-8 w-full">
        <div class="text-5xl font-semibold leading-normal text-center md:text-left">
            <a class="underline underline-offset-8 decoration2 transition-colors
                text-zinc-900 decoration-zinc-300
                dark:text-white dark:decoration-zinc-500
                hover:decoration-purple-300 hover:text-purple-700
                hover:dark:text-purple-500 hover:dark:decoration-purple-400"
                href="https://en.wikipedia.org/wiki/Moin">Moin</a>
            there! I'm Merlin<sup class="text-xl relative top-[-1.5em]">he/him</sup>
        </div>
        <div class="text-xl leading-normal">
            Sysadmin.&ensp;CS Student.&ensp;German.&ensp;Vegan.&ensp;Bored.
        </div>
        <div class="text-xl leading-normal">
            {{ range .Site.Menus.social }}
                <a rel="me" href="{{ .URL }}"
                class="inline-block underline underline-offset-8 decoration2 transition-colors 
                text-zinc-900 decoration-zinc-300
                dark:text-white dark:decoration-zinc-500
                hover:decoration-purple-300 hover:text-purple-700
                hover:dark:text-purple-500 hover:dark:decoration-purple-400">{{ .Name }}
                </a>&ensp;
            {{ end }}
        </div>
    </div>
</div>

<div>
    <h1 class="text-4xl text-zinc-900 dark:text-white font-bold pt-14 pb-4 mb-8">Latest Posts</h1>
    {{ range ( first 5 ( where .Site.RegularPages "Type" "blog" )) }}
        {{ partial "articleheading.html" . }}
    {{ end }}
    <div class="text-center py-6">
        <a href="/blog" class="text-xl underline underline-offset-8 decoration2 transition-colors
        text-zinc-900 decoration-zinc-300
        dark:text-white dark:decoration-zinc-500
        hover:decoration-purple-300 hover:text-purple-700
        hover:dark:text-purple-500 hover:dark:decoration-purple-400">
        View all &rarr;</a>
    </div>
</div>
{{ end }}
