<form name="contact" method="POST" data-netlify="true">
    <p>
        <label>
          <span class="screen-reader-text">Your Name:</span>
          <input style="width:100%" type="text" name="name" placeholder="Your Name" />
        </label>   
    </p>
    <p>
        <label>
            <span class="screen-reader-text">Your Email:</span>
            <input style="width:100%" type="email" name="email" placeholder="Your Email" />
        </label>
    </p>
    <p>
        <label>
            <span class="screen-reader-text">Your Message:</span>
            <textarea name="name" placeholder="Your Message"></textarea>
        </label>   
    </p>
    <p style="text-align: right;">
        <button type="submit">Send</button>
    </p>
</form>