<form name="contact" method="POST" data-netlify="true" style="width: 100%">
    <p>
        <label for="name">Your Name:</label><br>
        <input style="color:#111" type="text" name="name" id="name" />
    </p>
    <p>
        <label for="email">Your Email:</label><br>
        <input style="color:#111" type="email" name="email" id="email" />
    </p>
    <p>
        <label for="message">Your Message:</label><br>
        <textarea style="color:#111" name="message" id="message"></textarea>
    </p>
    <p>
        <button type="submit" style="display:inline-block;background:#555;padding:3px 40px">Send</button>
    </p>
</form>